<header class='header'>
    <nav>
        <ul class='header__ul'>
            <li class='header__li'>
                <div class="header__shadow header__shadow--first"></div>
                <div class="header__shadow header__shadow--second"></div>
                <a class='header__link' routerLink="" routerLinkActive="header__link--active">contact</a>
            </li>
            <li class='header__li'>
                <div class="header__shadow header__shadow--first"></div>
                <div class="header__shadow header__shadow--second"></div>
                <a class='header__link' routerLink="skills" routerLinkActive="header__link--active">skills</a>
            </li>
            <li class='header__li'>
                <div class="header__shadow header__shadow--first"></div>
                <div class="header__shadow header__shadow--second"></div>
                <a class='header__link' routerLink="experience" routerLinkActive="header__link--active">experience</a>
            </li>
        </ul>
    </nav>
</header>