<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#portfolio">portfolio</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#skills">Skills</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__content">
        <div class="header__text">
            <h1 class="header__title">Michał Ruszkowski</h1>
            <h2 class="header__subtitle">FRONTEND DEVELOPER</h2>
        </div>
    </div>
</header>