@import 'src/styles/mixins';
@import 'src/styles/variables';

.header {
    width:100vw;
    height:100dvh;

    .header__content {
        height:calc(100% - $size * 1.5);
        width:100%;
        background: rgba($color-main, .8);
        background: linear-gradient(105deg, rgba($color-main, .8) 0%, rgba($color-main, .8) 50%, rgba($color-second,0) 50%, rgba($color-second,0) 100%);
        @include flex;
        justify-content: flex-start;
        padding-left:$size * 4;

        @media screen and (max-width: 1440px) {
            height:calc(100% - 40px);
            background: linear-gradient(105deg, rgba($color-main, .8) 0%, rgba($color-main, .8) 70%, rgba($color-second,0) 70%, rgba($color-second,0) 100%);

        }

        .header__text {
            overflow: hidden;

            .header__title {
                color:$color-second;
                font-size: $size * 2;

                @media screen and (max-width: 1280px) {
                    font-size: $size * 3;
                }

                @media screen and (max-width: 600px) {
                    font-size: $size * 4.5;
                }
            }
    
            .header__subtitle {
                color:$color-third;
                font-weight:900;
                font-size: $size;

                @media screen and (max-width: 1280px) {
                    font-size: $size * 2;
                }

                @media screen and (max-width: 600px) {
                    font-size: $size * 3;
                }
            }
        }        
    }

    .nav {
        width:100%;
        height:$size * 1.5;
        background-color: $color-main;
        min-height:40px;

        .nav__list {
            display: flex;
            justify-content: flex-end;
            align-items:center;
            list-style: none;
            height:100%;

            @media screen and (max-width: 600px) {
                justify-content: space-evenly;
            }
    
            .nav__item {
                overflow: hidden;
            }
    
            .nav__link {
                color: $color-second;
                text-decoration: none;
                font-size: $size * .4;
                display:block;
                margin: 0 $size;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight:900;

                @media screen and (max-width:1440px) {
                    font-size: $size * .7;
                }

                @media screen and (max-width:900px) {
                    font-size: 16px;
                }
            }
        }
    }
}

