@import 'src/styles/variables';

.footer {
    background-color: $color-main;
    padding: $size * .5;
    text-align: center;

    .footer__text {
        color:$color-second;
        font-size: 12px;
        font-weight:700;
        letter-spacing:2px;
    }
}