<div class="project">
    <a class="project__left" [href]="project.urlToLive" target="_blank">
        <img class="project__img" [src]="project.imgSrc" [alt]="project.name">
    </a>
    <div class="project__right">
        <p class="project__name">{{ project.name }}</p>
        <div class="project__technologies">
            <span class="project__technology" *ngFor="let item of project.technologies">{{ item }}</span>
        </div>
        <div class="project__buttons">
            <a class="project__button" *ngIf='project.urlToLive' [href]="project.urlToLive" target="_blank">LIVE</a>
            <a class="project__button" *ngIf='project.urlToCode' [href]="project.urlToCode" target="_blank">CODE</a>
            <a class="project__button project__button--longText" *ngIf='project.urlToGooglePlay' [href]="project.urlToGooglePlay" target="_blank">Google Play</a>
            <a class="project__button project__button--longText" *ngIf='project.urlToAppStore' [href]="project.urlToAppStore" target="_blank">App Store</a>
        </div>
    </div>    
</div>