@import 'src/styles/mixins';
@import 'src/styles/variables';

.skills {
    @include section;
    background-color: rgba($color-second, 0);

    &__title {
        @include title;
        color:$color-second;
    }

    &__list {
        @include flex;
        flex-wrap:wrap;
        margin-top:15vh;
    }
}