@import "src/styles/variables";
@import 'src/styles/mixins';

.welcome {
    background-color:$color-main;
    @include flex;
    flex-direction:column;
    @include fixed;
    z-index:2
}

.welcome__canvas {
    @include absolute
}

.welcome__text {
    color:$color-second;
    font-size:7vw;
    line-height:2;
    animation: showText 4s forwards;
}

.welcome__text--block {
    display:block;
}


@keyframes showText {
    0% {
        opacity:0
    }
    50% {
        opacity:1
    }
    100% {
        opacity:0
    }
}