<p class="text" [innerHTML]="p"></p>
<div class="contact contact--animated">
  <a class="contact__link" href='tel:+48725048768'><span class="material-symbols-outlined contact__icon">
      call
    </span> +48 725-048-768</a>
  <a class="contact__link" href='mailto:michrusz89@gmail.com'><span class="material-symbols-outlined contact__icon">
      mail
    </span> michrusz89@gmail.com</a>
  <a class="contact__link" target="_blank" href='https://www.linkedin.com/in/micha%C5%82-ruszkowski-b663801ba/'>
    <div class="contact__icon contact__icon--linkedin"></div> LinkedIn
  </a>
  <a class="contact__link" target="_blank" href='https://github.com/Michal-Ruszkowski'>
    <div class="contact__icon contact__icon--github"></div> GitHub
  </a>
  <a class="contact__link" href="/assets/Ruszkowski_Michal_Frontend_Developer_RESUME.pdf" target="_blank" download><span class="material-symbols-outlined contact__icon">download</span> RESUME</a>
</div>
