<section class="contact" id="contact">
    <h2 class="contact__title">contact</h2>
    <p class="contact__text">Reach me at <a class="contact__email" href="mailto:michrusz89@gmail.com">michrusz89@gmail.com</a></p>
    <div class="contact__buttons">
        <a class="contact__button" href="https://www.linkedin.com/in/micha%C5%82-ruszkowski-b663801ba/" target="_blank">
            <div class="contact__icon contact__icon--linkedin"></div> LinkedIn
        </a>
        <a class="contact__button" href="https://github.com/Michal-Ruszkowski" target="_blank">
            <div class="contact__icon contact__icon--github"></div> GitHub
        </a>
        <a class="contact__button contact__button--black" href="assets/Ruszkowski_Michal_Frontend_Developer_RESUME.pdf" target="_blank" download>
            <span class="material-symbols-outlined contact__icon">download</span> RESUME
        </a>
    </div>
</section>